@import "~bootstrap/scss/bootstrap";

body {
  background: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614441348_9-p-temnii-fon-dlya-chata-12.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.center {
  display: flex;
  align-items: center
}